{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ server.server_name }}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>

    <script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
    <link href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css" rel="stylesheet"/>
</head>
<body>

    Server name: {{ server.server_name }}<br>
    Map: {{ server.map }}<br>
    Players count: {{ server.player_count }}<br>
    Max players: {{ server.max_players }}<br>
    Host: {{ server.host }}<br>
    SSH Port: {{ server.ssh_port }}<br>
    Server Port: {{ server.server_port }}<br>
    User name: {{ server.server_username }}<br>
    Password: {{ server.secret }}<br>
    Slug: {{ server.slug }}<br>

    <p id="server-state" class="server-state">Сервер остановлен</p>

    <form>
        {% csrf_token %}
        <button id="StartedServer" style="outline: none; border: none; background-color: red; color: #fff;">Запустить сервер</button>
        <button id="StoppedServer" style="outline: none; border: none; background-color: red; color: #fff;">Выключить сервер</button>
        <button id="TakeMap">Tested</button><br>
    </form>

{#    <form action="{% url 'server_stop' server.id %}" method="post" enctype="multipart/form-data">#}
{#        {% csrf_token %}#}
{#        <button type="submit" style="outline: none; border: none; background-color: red; color: #fff;">Выключить сервер</button>#}
{#    </form>#}



{#    <form>#}
{#        {% csrf_token %}#}
{#        <button id="StoppedServer" style="outline: none; border: none; background-color: red; color: #fff;">Выключить сервер</button>#}
{#    </form>#}

{#    <form>#}
{#        {% csrf_token %}#}
{#        <input id='access_token' type='hidden' name='access_token' value='{% csrf_token %}'>#}
{#        <button id="TestedBtn" value="val_1" name="TestedBtn">Tested</button><br>#}
{#        <textarea id="testId">{% csrf_token %}</textarea>#}
{#    </form>#}


{#    <form>#}
{#        <button id="tokenBtn">Token</button>#}
{#    </form>#}


{#    <button class="test" id="test" name="test" onclick="MyFunction()" type="button">Test</button><br>#}



{#    <script>#}
{#        let server_state = 'Сервер остановлен';#}
{#        $("#server-state").text(server_state);#}
{#    </script>#}

    <script src={% static "js/server.js" %}></script>

    <script>
        $("#StoppedServer").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/server_stop/{{ server.id }}/",
                data: {
                    id: {{ server.id }},
                    access_token: csrftoken
                },
                success: function(data) {
                    server_state = 'Сервер остановлен';
                    $("#server-state").text(server_state);
                    alert('Сервер остановлен!');
                    },
                error: function(data) {
                    alert('Ошибка при выключении сервера!');
                }
            });
        });
    </script>

    <script>
        $("#StartedServer").click(function(e){
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/server_start/{{ server.id }}/",
                data: {
                    id: {{ server.id }},
                    access_token: csrftoken,
                },
                success: function(data) {
                    server_state = 'Сервер запущен';
                    $("#server-state").text(server_state);
                    alert('Сервер запущен!');
                },
                error: function(data) {
                    alert('Ошибка при запуске сервера!');
                }
            });
        });
    </script>

    <script>

            $.ajax({
                type: "POST",
                url: "/take_map/{{ server.id }}/",
                data: {
                    id: {{ server.id }},
                    access_token: csrftoken,
                },
                success: function(data) {
                },
                error: function(data) {
                }
            });

    </script>

</body>
</html>