html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

div {
    display: block;
}

.container-home {
    padding: 0 0 50px;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.container-home .block-slider-news {
    position: relative;
}

.block-left {
    float: left;
    width: 736px;
}

.container-home .block-slider-news:before, .container-home .block-slider-news:after {
    content: " ";
    display: table;
}

.container-home .block-slider-news .wrap-main-news {
    position: relative;
    float: left;
    width: 736px;
    height: 414px;
    display: block;
    color: #fff;
}

.container-home .block-slider-news .main-news {
    position: absolute;
    width: 736px;
    height: 414px;
    display: none;
    text-align: center;
    overflow: hidden;
    z-index: 100;
}

.middle-align {
    vertical-align: middle;
    height: 100%;
}

.container-home .block-slider-news .main-news:first-child {
    display: block;
}

.middle-align:before {
    content: '';
    display: inline-block;
    width: 1px;
    visibility: hidden;
    vertical-align: middle;
    height: 100%;
}

.container-home .block-slider-news .main-news .main-news-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    -webkit-filter: brightness(60%);
  filter: brightness(60%);
}

.container-home .block-slider-news .main-news-wrap {
    position: relative;
    z-index: 1;
    width: 520px;
    display: inline-block;
    vertical-align: bottom;
}

.container-home .block-slider-news .main-news .header-main-news {
    font: 36px/38px Proxima Nova,sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
    display: block;
}

.list-news-slider{
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: 43px;
    width: 200px;
    height: 14px;
    z-index: 1001;
    text-align: center;
}

.list-news-slider>li{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 3px;
    background-color: rgba(255,255,255,0.5);
}

.list-news-slider>li.active {
    background-color: deeppink;
}

.container-home .block-slider-news .previous {
    left: 155px;
    font-size: 30px;
    color: black;
}

.container-home .block-slider-news .next {
    right: -155px;
    font-size: 30px;
    color: black;
}

.container-home .block-slider-news .previous, .container-home .block-slider-news .next {
    margin-top: -20px;
    height: 40px;
    width: 40px;
    opacity: 0.4;
    position: absolute;
    top: 50%;
    cursor: pointer;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    display: block;
    z-index: 1001;
}

.block-second{
    margin-top: 80px;
}


.header-news a:hover{
    text-decoration: none;
    cursor: pointer;
}

.container-home .block-second {
    margin-top: 40px;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.block-news {
    box-sizing: border-box;
}

.container-home .header-news {
    margin: 25px 0 0 27px;
}

.header-news a{
    text-align: left;
    color: #3d3d3d;
    font: 32px/32px Proxima Nova,sans-serif;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    margin: 35px 0 18px 10px;
    text-decoration: underline;
}

.container-home .block-second .list-news {
    margin-top: 18px;
}

.list {
    padding-left: 12px;
    box-sizing: border-box;
}

.list-news {
    margin-bottom: 30px;
}

ul {
    list-style: none;
    margin: 0;
}

.list:before, .list:after {
    content: " ";
    display: table;
}

.list-news:before, .list-news:after {
    content: " ";
    display: table;
}

.item-main-news {
    width: 320px;
    height: 450px;
    float: left;
    margin: 0 12px 25px 0;
    background-color: rgba(255,255,255,0.5);
}   

.item-main-news a{
    display: block;
    width: 100%;
    height: 100%;
    color: #8d9096;
    text-decoration: none;
    font: 13px/16px Proxima Nova,sans-serif;
    position: relative;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
}

.item-main-news .item-news-bg{
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: block;
    overflow: hidden;
}

/*.item-main-news .item-news-bg:after{*/
/*    content: "";*/
/*    background-color: rgba(0,0,0,0.3);*/
/*    display: block;*/
/*    height: 100%;*/
/*    left: 0;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    transition: all 0.2s linear 0s;*/
/*    width: 100%;*/
/*}*/

.item-main-news .item-news-content{
    padding: 8px 10px 0;
    box-sizing: border-box;
    display: block;
}

.item-main-news .icon-game{
    display: block;
    padding: 0 0 0 0px;
    box-sizing: border-box;
    position: relative;
    color: #3d3d3d;
    margin: 5px 0 10px;
}

.name-game{
    position: relative;
    left: 10px;
    bottom: 5px
}

.item-main-news .author-news{
    color: #c7c8ca;
    position: absolute;
    right: 10px;
    bottom: 8px;
}

.item-main-news .title-news{
    color: #3d3d3d;
    font: 20px/22px Proxima Nova,sans-serif;
    font-weight: bold;
    margin-bottom: 8px;
    text-decoration: none;
    display: block;
}

.item-main-news a{
    display: block;
    width: 100%;
    height: 100%;
    color: #8d9096;
    text-decoration: none;
    font: 13px/16px Proxima Nova,sans-serif;
    position: relative;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
}

.item-main-news .data-news{
    color: #3d3d3d;
    position: absolute;
    left: 12px;
    bottom: 8px;
}

.item-main-news:hover .title-news{
    text-decoration: underline;
}










































