{% extends 'base.html' %}
{% load static %}
{% block title %} Главная {% endblock title %}
{% block head %} <link rel="stylesheet" href="{% static 'css/tournaments-detail.css' %}"> {% endblock head %}

{% block content %}

    <div class="container-tournaments-detail">
                <div class="header-detail-tournament">
                    <h2 class="title-tournament">{{ tournaments.name }}</h2>
                    <span class="data-tournament">{{ tournaments.start_date }}</span>
                </div>
                <div class="container-image-tournament">
                    <img class="image-tournament" src="{{ tournaments.image.url }}">
                </div>
                <div class="content-tournament">
                    {{ tournaments.description }}
                </div>
                <div>
                    <div class="tournament-information">
                        1
                    </div>
                    <div class="registered_teams">
                        <div class="registered_teams">
                            {{ tournaments.count_registration_teams }} / {{ tournaments.max_teams }}<br>
                        </div>
                        <div class="tournament-registration">
                            <form action="{% url 'tournament_registration' tournaments.id %}" method="post">
                                {% csrf_token %}
                                {{ form.as_table }}
                                <button type="submit">Зарегестрироваться</button>
                            </form>
                        </div>
                    </div>
                </div>
    </div>
{{ tournaments.teams.all }}<br>
    {% for tour in tournaments.teams.all %}
        {{ tour }}
    {% endfor %}
{% endblock content %}
